mixin nav()
  ul.nav-list.clearfix
    li.item: a.nav-link(href="#bio"): span bio
    li.item: a.nav-link(href="#experience"): span experience
    li.item: a.nav-link(href="#skills"): span skills & tools
    li.item: a.nav-link(href="#projects"): span projects
    li.item: a.nav-link(href="#contact"): span contact

doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="content-script-type", content="text/javascript")
    meta(http-equiv="content-style-type", content="text/css")
    meta(name="author", content="Max Lysenko")
    meta(name="description", content="I'm Max Lysenko, front-end developer")
    meta(name="keywords", content="Maxim Lysenko, CV, Front-End Developer, Web developer, Resume, JavaScript, AngularJS, HTML, HTML5, CSS, CSS3, OOP, Kiev, Ukraine")
    meta(name="robots", content="index,follow")
    title Max Lysenko | Front-End Developer
    link(rel="stylesheet", href="dest/vendor/font-awesome.min.css")
    link(rel="stylesheet", href="dest/vendor/normalize.css")
    link(rel="stylesheet", href="dest/css/styles.min.css")
  body
    .page-wrap
      nav.nav-bar(role="navigation")
        .logo
          a(href="#header")
            span Max
              span.-bold Lysenko
        .nav
          +nav()
        .mobile-nav-toggle: span
        .mobile-nav
          +nav()
      header#header
        .content
          .hello-block
            .img-wrap
              .img
              .loading
                svg.hourglass(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 120 206", preserveAspectRatio="none")
                  path.middle(d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z")
                  path.outer(d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z")
            .title
              h1 Front-End Developer
              p portfolio & CV
        .overlay
        .arrow-wrap
          a(href="#bio"): i.fa.fa-angle-down
      section.bio#bio
        .container-small
          .title
            h2 Bio
          .content
            .about
              h2.sub-title About
              p.t-justified Hi, my name is Max and i'm a Front-End Developer. 
                |I have good knowledge of Front-End techniques, 
                |i like structured and organised code and always keep an eye on little details. 
                |I study every day to increase my proficiency in Web technologies and trying to keep up with 
                |the latest trends of front-end development.
            .detailed
              h2.sub-title Details
              ul.bio-list
                li
                  span.-bold Name:    
                  span Maxim Lysenko
                li
                  span.-bold Age:   
                  span 21 years old
                li 
                  span.-bold Location:    
                  span Kiev, Ukraine
              
      section#experience
        .container
          .title: h2 Experience
          .content
            .section-edu
              h2.sub-title Education
              ul.exp-list
                li.exp-item
                  .info
                    .name
                      span.-bold National Aviation University
                      span
                        i.fa.fa-map-marker  
                        span.location Kiev, Ukraine
                    .date.t-right: span Sep 2012 - Jun 2016
                  .description
                    span.-bold Bachelor - Computer Science 
                    p.t-justified At the University I've learned basics of Java programming, 
                      | creating UML diagrams, the importance of OOP, SQL,
                      | and basics of web development: HTML, CSS, JavaScript. 
                
                li.exp-item
                  .info
                    .name
                      span.-bold Brain Academy
                      span
                        i.fa.fa-map-marker  
                        span.location Kiev, Ukraine
                    .date.t-right: span Nov 2015 - Apr 2016
                  .description
                    span.-bold Front-End Development 
                    p.t-justified Here I've learned Front-end from very beginning. 
                      | HTML5, CSS3, CSS framework - Twitter Bootstrap, CSS preprocessor - Less, native JavaScript. 
                      | Also I've learned about OOP in JavaScript, 
                      | MVC approach and process of creating SPA with native JavaScript.
                      | The final project of this course was creating a Web-site using technologies we've learned.
                
            .section-career
              h2.sub-title Career 
              ul.exp-list
                li.exp-item
                  .info
                    .name
                      span.-bold Bumeen Group
                      span
                        i.fa.fa-map-marker  
                        span.location Kiev, Ukraine
                    .date.t-right: span May 2016 - Aug 2016
                  .description
                    span.-bold Junior Front-End Developer 
                    p.t-justified First working experience as Front-end Developer. 
                      | My responsibilities were: assisting in creating SPA with 
                      | AngularJS (creating custom directives for extra functionality, parsing and displaying data, 
                      | that comes from the server), fixing HTML markup, 
                      | adding CSS3 animation and mostly adding JavaScript 
                      | logic to the complete HTML markup.
      section#skills
        .container-small
          .title: h2 Skills & Tools
          .content
            div
              ul.skills-list
                li.skill-item
                  .skill-name: span HTML(5)
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                li.skill-item
                  .skill-name: span CSS(3)
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                li.skill-item
                  .skill-name: span JavaScript
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span jQuery
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span Twitter Bootstrap
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span TypeScript
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span SASS
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span Less
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span Jade
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span AngularJS
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
            div
              ul.skills-list
                li.skill-item
                  .skill-name: span JSON
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                li.skill-item
                  .skill-name: span MVC Pattern
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span SPA Approach
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span OOP
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span GIT / GIT Flow
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span WebStorm
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span Command Line
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span Adobe Photoshop
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span BEM
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                li.skill-item
                  .skill-name: span Java
                  .skill-score
                    i.fa.fa-circle
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
                    i.fa.fa-circle-o
          .lang
            h2.sub-title.t-left Languages 
            .lang-wrap
              div
                ul.skills-list
                  li.skill-item
                    .skill-name: span Ukrainian (Mother Tongue)
                    .skill-score
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                  li.skill-item
                    .skill-name: span English (Upper Intermediate)
                    .skill-score
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle-o
              div
                ul.skills-list
                  li.skill-item
                    .skill-name: span Russian (Fluent)
                    .skill-score
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                  li.skill-item
                    .skill-name: span German (Basics)
                    .skill-score
                      i.fa.fa-circle
                      i.fa.fa-circle-o
                      i.fa.fa-circle-o
                      i.fa.fa-circle-o
                      i.fa.fa-circle-o
      section#projects 
        .container
          .title: h2 Projects
          .content
            .project-row
              .project-item
                .project.game
                  .project-about
                    .description: p Pretty Hangman game on AngularJS
                    a(href="Hangman/").more Play
              .project-item
                .project
              .project-item
                .project
            .action-row.t-center
              button.button(type="button") See More
      footer#contact
        .container-small
          .title: h2 Contact
          .content
            div
              ul.contact-list
                li.contact-item
                  a(href="https://www.facebook.com/l.max1m", target="_blank").item-link
                    .item-icon
                      i.fa.fa-facebook-square
                    span https://www.facebook.com/l.max1m 
                li.contact-item
                  a(href="skype:max123281?userinfo").item-link
                    .item-icon
                      i.fa.fa-skype
                    span max123281
            div.right
              ul.contact-list
                li.contact-item
                  a(href="https://www.linkedin.com/in/maksym-lysenko-381415b7", target="_blank").item-link
                    .item-icon
                      i.fa.fa-linkedin-square
                    span https://www.linkedin.com/in/maksym-lysenko
                li.contact-item
                  a(href="mailto:maxim.lysenko94@gmail.com").item-link
                    .item-icon
                      i.fa.fa-at
                    span maxim.lysenko94@gmail.com
          .download.t-center
            button(type="button", id="doc") Download CV.doc
            button(type="button", id="pdf") Download CV.pdf
        .copy.t-center
          span Copyright 
            i.fa.fa-copyright
            |  Developed by 
            span.author Maxim Lysenko 
            | | 2016
    // JavaScript
    script(src="dest/vendor/jquery-1.12.4.min.js")
    script(src="dest/js/main.min.js")
