doctype html
html(lang="en")
  head
    title Max Lysenko | Front-End Developer
    link(rel="stylesheet", href="dest/vendor/font-awesome.min.css")
    link(rel="stylesheet", href="dest/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="dest/css/styles.min.css")
    
    script(src="dest/vendor/jquery-1.12.4.min.js")
    script(src="dest/vendor/bootstrap.min.js")
    script(src="dest/js/main.min.js")
  body
    div Hello World
